<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
 
        <!-- Connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Sample MySQL URL provided  -->  
        <property name="connection.url">jdbc:mysql://localhost:3306/project</property>
        <property name="connection.username">abhinash</property>
        <property name="connection.password">Mysql@0011</property>
           
        <!-- Show SQL log on console -->
        <property name="show_sql">true</property>
 
		<!--Setting Session context model -->
		<property name="current_session_context_class">thread</property>
		
		<!-- Below property will automatically create the table if it is not present and if table is present then 
		this property is capable to update, delete etc database schema. -->
		<property name="hbm2ddl.auto">update</property>
 
    </session-factory>
</hibernate-configuration>